@use '../abstracts' as a;

.navbar{
    position: relative;
    z-index: 2;
}

.navbar-collapse{
    flex-grow: 0 !important;
}

.navbar-toggler, .navbar-close{
    border: none;
    cursor: pointer;

    &:focus{
        outline: none;
        border: none;
        box-shadow: 0 0 0 2px var(--gray-clr);
    }
}

.navbar-brand img{
    height: 35px;
    width: auto;
    max-height: 100%;
}

.nav-item{
    margin-inline: 0.5em;
    font-weight: a.$fw-700;
}

@media (width <= 991px) {
    .navbar-collapse {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--primary-clr__100);
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: opacity 0.4s ease, transform 0.4s ease;
    }

    .navbar-collapse.show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .collapsing {
        height: 100vh !important;
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: opacity 0.4s ease, transform 0.4s ease;
    }

    .mobile-nav-header {
        position: absolute;
        top: 1.5rem;
        left: 1rem;
        right: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 2rem);
    }

    .navbar-close {
        width: 2rem;
        height: 2rem;
    }

    .nav-link {
        font-size: 1.842rem;
        text-align: center;
    }

    .navbar .dropdown-menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100vw;
        margin: 0;
        border: none;
        border-radius: a.$innerBorder;
        padding: 1.5em 2em;
        background-color: var(--secondary-clr);
    }
}

@media (max-width: 410px) {
    .navbar-brand img{
        height: 25px;
    }
}