@use "../abstracts" as a;

.events{
    .img__container{
        width: 100%;
        height: 100%;
        border-radius: a.$outerBorder;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: a.$outerBorder;
        }
    }
}

.events__content > .row{
    margin-bottom: 7em;
}

.events__container__panel{
    @include a.panelContainer;
}

@media (width <= 767px) {
    .events__header{
        margin-bottom: 1em !important;
        max-width: 50%;
    }

    .events__content{
        .row .col-lg-5{
            display: flex;
            gap: 4rem;
        }

        .row .col-lg-6{
            margin-bottom: 4em !important;
        }
    }

    .row1, .row3{
        flex-direction: column-reverse;
    }
}

@media (width <= 575px) {
    .events__header{
        max-width: 100%;
    }

    .events__content{
        .row .col-lg-5{
            display: flex;
            flex-direction: column;
            gap: 0rem;
        }
    }
}