@use "../abstracts" as a;

.exhibition{
    overflow: hidden;

    &__header{
        max-width: 40%;
    }

    &__scroll{
        position: relative;
    }

    &__cards{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__svg{
        display: flex;
        justify-content: center
    }
}

.exhibition__card{
    @include a.panelContainer;
    position: absolute;
    width: 100%;
    max-width: 35%;
    opacity: 0;
    transition: opacity 0.3s ease;

    .date{
        color: var(--primary-clr__400);
        font-weight: a.$fw-700;
    }
}

.exhibition__card .inner__panel .img__container{
    border-radius: a.$innerBorder;

    img{
        border-radius: a.$innerBorder;
    }
}

.card1, .card3{
    top: 10%;
    right: 0;
}

.card2, .card4{
    top: 25%;
    left: 0;
}

@media (width <= 1199px) {
    .exhibition__card{
        max-width: 40%;
    }
}

@media (width <= 991px) {
    .exhibition{
        &__header{
            margin-inline-start: auto;
        }

        &__svg{
            justify-content: end;
            margin: 0 -4em;
        }
    }

    .exhibition__card{
        max-width: 45%;
    }

    .card1, .card2, .card3, .card4{
        top: 10%;
        left: 5%;
    }
}

@media (width <= 767px) {
    .exhibition{
        &__header{
            margin-inline-end: auto;
            margin-inline-start: 0;
            max-width: 50%;
        }

        &__svg{
            margin: 0 -8em;
        }
    }  
    
    .exhibition__card{
        max-width: 55%;
        left: 0;
        top: 27%;
    }
}

@media (width <= 575px) {
    .exhibition{
        &__header{
            max-width: 100%;
        }

        &__svg{
            margin: 0;
        }
    }
    .exhibition__card{
        max-width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .inner__panel{
            padding-bottom: 2.5em;
        }
    }

    .exhibition__card .inner__panel .img__container{
        margin-top: 0 !important;

        img{
            display: none;
        }
    }
}