@use "../abstracts" as a;

.exhibition{
    &__header{
        max-width: 40%;
    }

    &__scroll{
        position: relative;
    }

    &__cards{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__svg{
        max-width: 50%;
        margin: 0 auto;
    }
}

.exhibition__card{
    @include a.glassmorphism(a.$primaryBorder);
    position: absolute;
    width: 100%;
    max-width: 30%;
    padding: 1.5rem;
    color: var(--black-clr);
    opacity: 0;
    transition: opacity 0.3s ease;

    &__info{
        background-color: var(--light-yellow);
        border-top-left-radius: a.$secondaryBorder;
        border-top-right-radius: a.$secondaryBorder;
        padding: 1.5rem 2rem;
    }

    &__date{
        position: absolute;
        top: -1.5%;
        right: 6%;
        background-color: var(--black-clr);
        color: var(--white-clr);
        border-radius: a.$secondaryBorder;
        padding: 0.5em 1em;
    }

    img{
        border-bottom-left-radius: a.$secondaryBorder;
        border-bottom-right-radius: a.$secondaryBorder;
    }
}

.card1, .card3{
    top: 10%;
    right: 10%;
}

.card2, .card4{
    top: 25%;
    left: 3%;
}

@media (max-width: 1199px) {
    .exhibition__card{
        max-width: 40%;
    }

    .card1, .card3{
        top: 10%;
        right: -5%;
    }
    
    .card2, .card4{
        top: 25%;
        left: -5%;
    }
}

@media (max-width: 991px) {
    .exhibition{
        &__header{
            margin-inline-start: auto;
        }

        &__svg{
            margin: 0 20em;
        }
    }

    .exhibition__card{
        max-width: 50%;
        top: 10%;
        left: -5%;
    }
}

@media (max-width: 767px) {
    .exhibition{
        &__header{
            margin-inline-end: auto;
            margin-inline-start: 0;
        }

        &__svg{
            margin: 0 -10em;
        }
    }

    .exhibition__card{
        max-width: 65%;
        left: 50%;
    }
}

@media (max-width: 575px) {
    .exhibition{
        &__header{
            max-width: 100%;
        }

        &__svg{
            margin: 0;
        }
    }

    .exhibition__card{
        max-width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &__info{
            border-bottom-left-radius: a.$secondaryBorder;
            border-bottom-right-radius: a.$secondaryBorder;
        }

        img{
            display: none;
        }
    }
}

@media (max-width: 500px) {
    .exhibition{
        &__svg{
            max-width: 100%;
            display: flex;
        }
    }
}