@use '../abstracts' as a;

.header{
    &__wrapper{
        position: relative;
        width: 100%;
        z-index: 1;
    }

    &__container{
        overflow-x: hidden;
    }

    &__content{
        width: 100%;
        height: 100vh;
        background-image: url("../../assets/svg/hero_bg.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.header__animation__container{
    position: absolute;
    width: 100%;
    height: 100vh;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 3;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

// ====================================
.hero__container{
    position: relative;

    img{
        position: absolute;
        width: 40%;
        height: auto;
        top: 36%;
        left: 51%;
        transform: translate(-50%, -50%);
    }
}

.hero__content{
    width: 100%;
    height: calc(100vh - 10rem);
    align-items: center;

    .col-lg-6:nth-of-type(1) p{
        font-weight: a.$fw-600;
    }

    .col-lg-6:nth-of-type(2){
        align-self: end;
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }
}

.hero__panel__container{
    position: relative;
    padding-block: a.$outerPaddingBlock;
    @include a.glassmorphism;

    .hero__panel{
        background-color: #FFF9C4;
        border-radius: a.$innerBorder;
        padding: a.$innerPadding;
    }
}

.hero__panel__details{
    .video__btn p{
        color: var(--gray-clr);
        font-size: 14px;
        cursor: pointer;
    }

    .controls__btn{
        button{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: var(--primary-clr__500);
            border: none;
            outline: none;
        }

        i{
            color: var(--secondary-clr);
            font-size: 2rem;
        }
    }
}

@media (width <= 1200px) {
    .hero__container{
        img{
            left: 60%;
        }
    }
}

@media (width <= 767px) {
    .hero__container{
        img{
            width: 50%;
            left: 70%;
        }
    }

    .hero__content{
        height: 75vh !important;

        .col-lg-6:nth-of-type(2) .row:nth-of-type(1) {
            display: none;
        }
    }

    .hero__panel__details{
        .video__btn{
            display: none !important;
        }
    }
}

@media (width <= 575px) {
    .hero__container{
        img{
            width: 55%;
            top: 20%;
            left: 40%;
            transform: scaleX(-1)
        }
    }

    .hero__content{
        .col-lg-6:nth-of-type(1){
            max-width: 55%;
        }

        .col-lg-6:nth-of-type(2) .row:nth-of-type(2){
            margin-left: 12px;
        }
    }
}

@media (width <= 510px) {
    .hero__container{
        img{
            width: 60%;
            top: 25%;
            left: 20%;
        }
    }

    .hero__content{
        .col-lg-6:nth-of-type(1){
            max-width: 100%;
        }
    }
}

@media (width <= 410px) {
    .hero__container{
        img{
            top: 30%;
        }
    }
}