@use "../abstracts" as a;

.visit__content{
    position: relative;
    border-radius: a.$outerBorder;
    overflow: hidden;
    height: 80vh;

    .row{
        height: 100%;

        .col-lg-4{
            background-color: var(--primary-clr__500);
        }

        .col-lg-8, .col-md-8{
            height: 100%;
        }
    }

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;  
        opacity: 0.8;
    }
}

.visit__info{
    @include a.panelContainer;
    width: 100%;
    max-width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-95%, -50%);
}

@media (max-width: 991px) {
    .visit__info{
        max-width: 60%;
        transform: translate(-65%, -50%);
    }
}

@media (max-width: 767px) {
    .visit__info{
        max-width: 80%;
        transform: translate(-50%, -50%);
    }
}