:root{
    --primary-clr__100: #59F2EC;
    --primary-clr__200: #00DEE8;
    --primary-clr__300: #00ACCF;
    --primary-clr__400: #007897;
    --primary-clr__500: #27456C;

    --secondary-clr: #FFF9C4;

    --pink-accent__100: #F883C2;
    --pink-accent__200: #F15DAD;

    --purple-accent: #CE93D8;

    --black-clr: #312833;

    --gray-clr: #4d4d4d;
}