@use 'variables' as v;

// CTA
@mixin cta() {
    display: inline-block;
    padding: 10px 20px;
    border-radius: v.$innerBorder;
    font-weight: v.$fw-700;
    border: 2px solid var(--black-clr);
    transition: all 0.3s ease;

    &:hover{
        background-color: var(--purple-accent);
    }

    @media (max-width: 576px) {
        padding: 8px 16px;
    }

    @media (max-width: 410px) {
        padding: 6px 12px;
    }
}

// Background img
@mixin backgroundImg($image, $borderRadius: v.$outerBorder) {
    background-image: url($image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: $borderRadius;
}

// Glassmorphism
@mixin glassmorphism($borderRadius: v.$outerBorder) {
    background: rgba( 244, 213, 216, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
    border-radius: $borderRadius;
}

// Scroll indicator direction
@mixin scrollDirection($direction: column, $width: 2px, $height: 30px, $clr: var(--primary-clr__500)) {
    display: flex;
    flex-direction: $direction;
    align-items: center;

    .circle{
        border: 1.5px solid $clr;
    }

    .circle.active{
        background-color: $clr;
    }

    .line{
        width: $width;
        height: $height;
        background-color: $clr;
    }
}

// Panel
@mixin panelContainer(){
    @include glassmorphism;
    padding: v.$outerPadding;

    .inner__panel{
        background-color: var(--secondary-clr);
        border-radius: v.$innerBorder;
        padding: v.$innerPadding;
    }
}