@use 'variables' as v;

// CTA
@mixin cta() {
    display: inline-block;
    padding: 10px 20px;
    border-radius: v.$innerBorder;
    font-weight: v.$fw-700;
    border: 2px solid var(--black-clr);
    transition: all 0.3s ease;

    &:hover{
        background-color: var(--purple-accent);
    }
}

// Glassmorphism
@mixin glassmorphism($border: v.$outerBorder) {
    background: rgba( 244, 213, 216, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
    border-radius: $border;
}

// Scroll indicator direction
@mixin scrollDirection($direction: column, $width: 2px, $height: 30px, $clr: var(--primary-clr__500)) {
    display: flex;
    flex-direction: $direction;
    align-items: center;

    .circle{
        border: $width solid $clr;
    }

    .circle.active{
        background-color: $clr;
    }

    .line{
        width: $width;
        height: $height;
        background-color: $clr;
    }
}